@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'), url('../fonts/Shabnam.woff') format('woff'), url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: shabnam;
}

h1, p {
    line-height: 30px;
}

body {
    background: yellow;
    margin: 0px;
    direction: rtl;
    /*overflow: hidden;*/
}

button {
    cursor: pointer;
}

#register-paragraph {
    color: white;
    display: inline-block;
    font-size: 19px;
}

input::placeholder {
    color: #7b7b7b75;
}

div.content {
    background: white;
    display: flex;
    height: 100vh;
    width: 100vw;
}

/*--------------------------------mevlana-box start ---------------------------------------*/

.mevlana-box {
    background: #025f9d;
    height: 100vh;
    width: 50vw;
}

.mevlana-box > .mevlana-container {
    margin-top: 33vh;
    /* margin: 240px 0px; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mevlana-box > .mevlana-container .row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
}

.mevlana-box > .mevlana-container label {
    border: 1px solid red;
}

.mevlana-box > .mevlana-container .sign-btn {
    width: 19vw;
    height: 40px;
    background: #e1094a;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 1rem;
    /* padding: .5rem 1rem */
}

/*--------------------------------login-box start ---------------------------------------*/
.sign-box,
.login-box {
    background: #ffffff;
    height: 100vh;
    width: 50vw;
}

.sign-box > .sign-container,
.login-box > .log-container {
    margin-top: 33vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-box > .sign-container > form,
.login-box > .log-container > form {
    height: 50%;
    width: 70%;
}

.sign-box > .sign-container > form label,
.login-box > .log-container > form label {
    /*border: 1px solid red;*/
}

.sign-box > .sign-container > form a,
.login-box > .log-container > form a {
    /*border: 1px solid red;*/
    text-decoration: none;
}

.sign-box > .sign-container > form > .input-container,
.login-box > .log-container > form > .input-container {
    position: relative;
}

.sign-box > .sign-container > form > .input-container > input[type=text],
.sign-box > .sign-container > form > .input-container > input[type=password],
.login-box > .log-container > form > .input-container > input[type=text],
.login-box > .log-container > form > .input-container > input[type=password] {
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sign-box > .sign-container  > form > .input-container > input:focus,
.login-box > .log-container > form > .input-container > input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 2px 1px #88E4FF;
}

.sign-box > .sign-container  > form > .input-container > i,
.login-box > .log-container > form > .input-container > i {
    position: absolute;
    right: 15px;
    top: 40px;
    color: gray;
}

.sign-box > .sign-container  > form > .input-container > span,
.login-box > .log-container > form > .input-container > span {
    position: absolute;
    left: 15px;
    top: 40px;
    color: gray;
}

.sign-box > .sign-container > form > .input-container > span:hover,
.login-box > .log-container > form > .input-container > span:hover {
    color: #ccc;
}

.sign-box > .sign-container > form > .input-container > .input-field,
.login-box > .log-container > form > .input-container > .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.sign-box > .sign-container  > form input[type=radio]{
    height: 40px;
    width: 40px;
    border: 1px solid #bbb;

}
.sign-box > .sign-container  > form input,
.login-box > .log-container > form input {
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
    font-size: .875rem;
    margin-bottom: 1rem;
    padding-right: 6vw;
    width: 100%;
    /* Gohari add */
    outline: none;
    /* Gohari finish */
}

